body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
  padding: 0 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  margin-bottom: 4.5rem;
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */
/* you can also add a new class to the buttons e.g. download-button
and do all the same thing in css: .download-button{margin: 5% 3% 5% 0;} */
.btn {
  margin: 5% 3% 10% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image - An Iphone */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
}

.section2-features {
  padding: 0;
}

.section2-icon {
  margin: 10% auto 5%;
  /* to change the size of a font awesome icon you can easily add a new class="fa-4x" instead */
  font-size: 60px;
  color: #ef8172;
}

.section2-icon:hover {
  color: #ff4c68;
}

.future-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.section2-p {
  color: #8f8f8f;
  padding: 0 50px;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

#pricing .card {
  overflow: hidden;
  border-radius: .7rem;
}

.card-body .btn {
  margin: 20px auto 0;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-header {
  background-color: #343a40;
  color: #fff;
}

.tariff-plan {
  font-size: 1.5rem;
  margin: 0;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.options {
  margin: 20px auto 50px;
}

.btn-charge {
  background-color: #ef8172;
}

.btn-charge:hover {
  background-color: #ff4c68;
}

.btn-free:hover {
  background-color: #ef8172;
}

/* CTA Section */
#cta .btn {
  margin: 60px 20px 40px;
}

/* Footer Section */
#footer {
  background-color: #fff;
}

.footer-i {
  color: #343a40;
  padding: 15px 15px;
}

@media (max-width:1086px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
